<div class="container">
  <form class="form-signin" [formGroup]="loginFormGroup" (ngSubmit)="login(loginFormGroup)">
    <h2 class="form-signin-heading">Please sign in</h2>
    <div *ngIf="loginFormGroup.invalid && submitted" class="alert alert-danger alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>Warning!</strong> Username Dan Password Wajib Diisi
    </div>
    <label for="Username" class="sr-only"></label>
    <input formControlName="username" type="text" id="Username" class="form-control" placeholder="Username" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input formControlName="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form>
</div>